.me{
    width: 100px;
    height: 150px;
}

.topsection{
background-color: #1f2937;
border: none;
color: #f9faf8;

}
.header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    padding-top: 10px;
} 

.logo{
    font-size: 24px;
    margin: 0px;
}

.headerlinks{
    font-size: 18px;
    display: flex;
    gap: 20px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; /*changes font for whole body*/
    margin:0px;
    padding: 0px;
    flex-wrap: wrap;
    align-items: center;
}   

.sectionOne{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    justify-content: center;
}

.introHeading{
    font-size: 24px;
}

.left-side{
    margin-right: 10px;
    width: 50%;
}

.button{
    display: flex;
}

img{
    width: 100px;
    height: 100px;

}

.imageheader{
    display:flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: bolder; /*extra bold*/
    color: #1f2937;

}
.imagesection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    padding-bottom: 50px;
}

info{
    max-width: 300px;
    display: flex;
}

.quotesection{
    display: flex;
    background-color: #e5e7eb;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 36px;
}

.quote{
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    padding-top: 5%;
    margin-right: 15%;
    margin-left: 15%;
}

.contact{
    display: flex;
    padding: 80px;
    justify-content: center;
    color: white;
}

.callAction{
    display: flex;
    background-color: #3882f6;
    border-radius: 10px; /*rounds corners*/
    padding: 30px;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.callActionquote{
    display: flex;
    color: white;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.text{
    display: flex;
}
.button2{
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border: 2px solid white;
    color: white;
    border-radius: 12px;
    width: 100px;
    height: 30px;
}