.me{
    width: 100px;
    height: 150px;
}

.topsection{
background-color: #1f2937;
border: none;
color: #f9faf8;

}
.header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    padding-top: 10px;
} 

.logo{
    font-size: 24px;
    margin: 0px;
}

.headerlinks{
    font-size: 18px;
    display: flex;
    gap: 20px;
}

body{
    font-family: 'Dekko'; /*changes font for whole body*/
    margin:0px;
    padding: 0px;
    flex-wrap: wrap;
}   

.sectionOne{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    justify-content: center;
}

.introHeading{
    font-size: 24px;
}

.left-side{
    margin-right: 10px;
    width: 50%;
}

.button{
    display: flex;
}

